<% include ../partials/header %>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <% for(i = 0; i < posts.length; i++) { %>
        <h3><%= posts[i].title %></h3>
        by <a href="#"><%= posts[i].author.username %></a>
        <a class="btn btn-primary" href="/blog/<%= posts[i]._id %>" >View</a>
        <hr>
        <span class="glyphicon glyphicon-time"></span>Posted on <%= posts[i].date %>
        <hr>
        <p class="message"><%- posts[i].message %></p>
        <p class="expanded-message"><%= posts[i].message %></p>
        <button class="btn btn-link view-more-link">View more</button>
        <% } %>
      </div>
    </div>
<% include ../partials/footer %>


<a class="btn btn-primary" href="/blog/new">Add post</a>
